@import "../js/libs/bootstrap/css/bootstrap.css";
@import "../js/libs/font-awesome/css/font-awesome.css";
@import "../js/libs/jquery/plugins/fancybox/jquery.fancybox.css";
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font: 16px Arial !important;
}
html>.container:first-child,
body>.container:first-child {
/*border: 1px solid red;*/
  position: relative;
  min-height: 100%;
}
.page .title {
  padding: 20px;
}
.page .content {
  padding: 20px;
  text-align: justify;
}
.post .title {
  padding: 20px;
}
.post .content {
  padding: 20px;
  text-align: justify;
}
.post.post-exerpt .title {
  padding: 0 !important;
}
#site-title-container .site-sub-title {
  color: #4d5862;
  margin-bottom: 10px;
  display: block;
}
#top-slide-container {
  overflow: hidden;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
#top-slide-container img {
  height: 300px;
}
#navigation-container .navbar-inner {
  position: relative;
  z-index: 1;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 -4px 6px -3px rgba(0,0,0,0.3);
  box-shadow: 0 -4px 6px -3px rgba(0,0,0,0.3);
}
#navigation-container .navbar-inner li>a>i {
  position: relative;
  margin-right: 4px;
}
#content-container {
  position: relative;
  min-height: 100%;
}
#footer-container {
  border-top: 1px solid #d4d4d4;
}
#footer-container .credits {
  padding: 20px;
  position: relative;
  display: block;
}
